<header class="m-grid__item    m-header "  data-minimize-offset="200" data-minimize-mobile-offset="200" >
    <div class="m-container m-container--fluid m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- BEGIN: Brand -->
            <!-- Metronic 收缩 -->
            
            <!-- END: Brand -->
            <div class="m-stack__item m-stack__item--fluid m-header-head m-header-head" id="m_header_nav">
                <!-- BEGIN: Horizontal Menu -->
                
                <div class = 'm-stack m-stack--ver m-stack--general m-stack--demo'>
                        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                                <h1 style="color:white">SweetfulBox   Dashboard </h1>             
                        </div>
                </div>
                <!-- END: Topbar -->
            </div>
        </div>
    </div>
</header>