<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
  <!-- begin:: Page -->
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <app-header></app-header>
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
      <app-sidebar></app-sidebar>
      <div class="m-content" style="width:100%">
        <div class="m-content" style="width:100%">

          <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                                            SPU List
                                        </h3>
                </div>
              </div>

            </div>
            <div class="m-portlet__body">


              <div class="m-section__content" style="text-align: right;">
                <div style="display: inline-flex; margin-bottom:20px">

                  <select [(ngModel)] = "search_status"  class="form-control m-input" (ngModelChange)="getSPUListbyStatus(search_status)">
                    <option [disabled]="!dataLoded" *ngFor="let c of status_mapping" [ngValue]="c.id">{{c.name}}</option>
                  </select>

                  <input class = "form-control m-input" type="text" placeholder="Search" [(ngModel)]="keyword" style="margin-right:20px;width:200%">
                  <button class="btn btn-warning" (click) = 'getSPUListByKeyword()' >搜索</button>
                  <button class="btn btn-normal" (click) = 'getSPUList()' >清空</button>

                  <input class = "form-control m-input" type="text" placeholder="SPU ID" [(ngModel)]="search_spu_id" style="width:100px; margin-left:30px;margin-right:20px;">
                  <button class="btn btn-warning" (click) = 'goToEditSPU(search_spu_id)' >前往</button>
                </div>

                <table class="table m-table m-table--head-separator-primary">
                  <thead>
                    <tr>
                      <th>
                        SPU ID
                      </th>
                      <th>
                        Name
                      </th>
                      <th>
                        Image ID
                      </th>
                      <th>
                        Price
                      </th>
                      <th>
                        Status
                      </th>
                      <th>
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listData; index as i;trackBy: i" [attr.data-index]="i">
                      <td scope="row">
                        {{item.spu_id}}
                      </td>
                      <td>
                        {{item.name}}
                      </td>
                      <td>
                        {{item.spu_image_id}}
                      </td>
                      <td>
                        ${{item.spu_price}}
                      </td>
                      <td>
                        <select [(ngModel)] = "item.status"  class="form-control m-input" (ngModelChange)="setSPUStatus(item)">
                          <option [disabled]="!dataLoded" *ngFor="let c of status_mapping" [ngValue]="c.id">{{c.name}}</option>
                        </select>
                      </td>
                      <td>
                        <button class="btn btn-warning" (click)='goToEdit(item)'>Edit</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div style="display: inline-flex" *ngFor="let item of pageNumArray;  index as i;trackBy: i" [attr.data-index]="i">
                  <a [class.focus]="i+1 === page_num" style="margin-right:7px" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only" (click)='goToPage(i)'>
                    <p style="height: 100%;margin-top: 27%; ">{{i+1}}</p>
                  </a>
                </div>
              </div>

              <!--end: Datatable -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
