<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
  <!-- begin:: Page -->
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <app-header></app-header>
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
      <app-sidebar></app-sidebar>
      <div class="m-content" style="width:100%">
        <div class="m-content" style="width:100%">

          <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                                            SKU List
                                        </h3>
                </div>
              </div>

            </div>
            <div class="m-portlet__body">

              <div class="m-section__content">
                <table class="table m-table m-table--head-separator-primary">
                  <thead>
                    <tr>
                      <th>
                        SKU ID
                      </th>
                      <th>
                        SPU ID
                      </th>
                      <th>
                        Name
                      </th>
                      <th>
                        Alias
                      </th>
                      <th>
                        Original Price
                      </th>
                      <th>
                        Price
                      </th>
                      <th>
                        Amount
                      </th>
                      <th>
                        Threshhold
                      </th>
                      <th>
                        Image
                      </th>
                      <th>
                        Fact Image
                      </th>
                      <th>
                        Status
                      </th>
                      <th>
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listData; index as i;trackBy: i" [attr.data-index]="i">
                      <td scope="row">
                        {{item.sku_id}}
                      </td>
                      <td>
                        {{item.spu_id}}
                      </td>
                      <td>
                        {{item.sku_name}}
                      </td>
                      <td>
                        {{item.sku_alias}}
                      </td>
                      <td>
                        ${{item.sku_original_price}}
                      </td>
                      <td>
                        ${{item.sku_price}}
                      </td>
                      <td>
                        {{item.sku_amount}}
                      </td>
                      <td>
                        {{item.sku_threshold}}
                      </td>
                      <td>
                        {{item.sku_image_id}}
                      </td>
                      <td>
                        {{item.sku_fact_image_id}}
                      </td>
                      <td>
                        {{item.sku_status}}
                      </td>

                      <td>
                        <button class="btn btn-warning" (click)='goToEdit(item)'>编辑</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div style="display: inline-flex" *ngFor="let item of pageNumArray;  index as i;trackBy: i" [attr.data-index]="i">
                  <a [class.some-class]="i+1 === page_num" style="margin-right:7px" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only" (click)='goToPage(i)'>
                    <p style="height: 100%;
                                                    margin-top: 27%;">{{i+1}}</p>
                  </a>
                </div>
              </div>

              <!--end: Datatable -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
