<div>
    
    <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light ">
        <!-- BEGIN: Aside Menu -->
        <div class="m-dropdown__body m-dropdown__body--paddingless">
                <div class="m-dropdown__content">
                    <div class="m-scrollable" data-scrollable="false" data-max-height="380" data-mobile-max-height="200">
                        <div class="m-nav-grid m-nav-grid--skin-light">
                            <div class="m-nav-grid__row" >
                                <a href="#" class="m-nav-grid__item" [routerLink]="['/home']" routerLinkActive = 'active' [routerLinkActiveOptions]="{exact:true}">
                                    <i class="m-nav-grid__icon flaticon-list-2"></i>
                                    <span class="m-nav-grid__text">
                                        订单
                                    </span>
                                </a>
                                
                            </div>
                            <div class="m-nav-grid__row" >
                                    <a href="#" class="m-nav-grid__item" [routerLink]="['/driver']" routerLinkActive = 'active'>
                                            <i class="m-nav-grid__icon flaticon-rocket"></i>
                                            <span class="m-nav-grid__text">
                                                司机发单
                                            </span>
                                    </a>
                            </div>
                            <div class="m-nav-grid__row" >
                                <a href="#" class="m-nav-grid__item" [routerLink]="['/count']" routerLinkActive = 'active'>
                                    <i class="m-nav-grid__icon flaticon-folder-2"></i>
                                    <span class="m-nav-grid__text">
                                        每周销售数量
                                    </span>
                                </a>
                                
                            </div>
                            <div class="m-nav-grid__row" >
                                    <a href="#" class="m-nav-grid__item" [routerLink]="['/spulist']" routerLinkActive = 'active'>
                                        <i class="m-nav-grid__icon flaticon-list-1"></i>
                                        <span class="m-nav-grid__text">
                                                SPULIST
                                        </span>
                                    </a>
                                    
                                </div>
                            <div class="m-nav-grid__row"  >
                                    <a href="#" class="m-nav-grid__item" [routerLink]="['/skulist']" routerLinkActive = 'active'>
                                            <i class="m-nav-grid__icon flaticon-list"></i>
                                            <span class="m-nav-grid__text">
                                                SKULIST
                                            </span>
                                    </a>
                            </div>  
                            <div class="m-nav-grid__row"></div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- END: Aside Menu -->
    </div>
</div>
