<div class="m-section__content" >
<div style = 'margin-bottom:20px'>
<button class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-info"  (click) = "getTable()">更新订单</button>
<button class="btn m-btn m-btn--gradient-from-success m-btn--gradient-to-accent" (click) = "goToDriverPage()" >去发单页</button>
<button class="btn m-btn m-btn--gradient-from-info m-btn--gradient-to-accent" (click) = "goToWeeklyPage()" >每周销售总量</button>
<button class="btn m-btn m-btn--gradient-from-accent m-btn--gradient-to-success" (click) = "goToCreditPage()" >查看信用卡数</button>
</div>
<div *ngFor="let box of boxes" >
     <p >下单时间：{{box.created}} </p>

  <div style = 'display: inline-flex' >
      <p style = 'margin-right:30px'>单号obid：{{box.obid}} </p>
       <p >箱子号bbid：{{box.bbid}} </p>
  </div>
  <br>
  <div style = 'display: inline-flex' >
   <p >Sticker: <a [href]="box.url" target="_blank">{{box.url}}</a ></p>
  </div>
  <div class="m-section">
  <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" >
  <tr>
      <th style = "text-align: center;margin-right:30px">产品pbid</th>
      <th style = "text-align: center;margin-right:30px">SKU</th>
      <th style = "text-align: center;margin-right:30px">产品全名</th>
      <th style = "text-align: center;margin-right:30px">口味</th>
      <th style = "text-align: center;margin-right:30px">重量</th>
      <th style = "text-align: center;margin-right:30px">数量</th>
      <th style = "text-align: center;margin-right:30px">单价</th>
      <th style = "text-align: center;margin-right:30px">格数</th>
  </tr>
  <tr *ngFor="let products of box.products" >
      <td scope="row">{{products.pbid}}</td>
      <td>{{products.sku}}</td>
      <td>{{products.fullname}}</td>
      <td>{{products.attr1}}</td>
      <td>{{products.attr2}}</td>
      <td>{{products.amount}}</td>
      <td>{{products.price}}</td>
      <td>{{products.weights}}</td>
  </tr>
  </table>
  </div>
  <div style = 'display: inline-flex' >

  <p style = 'margin-right:30px'>运费：{{box.delifee}} </p>
   <p >总价： {{box.total}} </p>
</div>

  <hr>
</div>
</div>