
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <app-header></app-header>
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
            <app-sidebar></app-sidebar>
            <div class="m-content" style="width:100%">
                <div class="m-content" style="width:100%">

                    <div class="m-section__content" >

                        <div *ngFor="let box of boxes" >

                          <div style = 'display: inline-flex' >
                              <p style = 'margin-right:30px'>单号obid：{{box.obid}} </p>
                              <p >下单时间：{{box.created}} </p>
                          </div>
                          <br>
                          <div style = 'display: inline-flex' >
                           <p >Sticker: <a [href]="box.url" target="_blank">{{box.url}}</a ></p>
                          </div>
                          <div class="m-section">
                          <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" >
                          <tr>
                              <th style = "text-align: center;margin-right:30px">SKU ID</th>
                              <th style = "text-align: center;margin-right:30px">SPU ID</th>
                              <th style = "text-align: center;margin-right:30px">产品全名</th>
                              <th style = "text-align: center;margin-right:30px">口味</th>
                              <th style = "text-align: center;margin-right:30px">数量</th>
                              <th style = "text-align: center;margin-right:30px">单价</th>
                          </tr>
                          <tr *ngFor="let products of box.products" >
                              <td scope="row">{{products.sku_id}}</td>
                              <td scope="row">{{products.spu_id}}</td>
                              <td>{{products.fullname}}</td>
                              <td>{{products.name}}</td>
                              <td>{{products.amount}}</td>
                              <td>{{products.price}}</td>
                          </tr>
                          </table>
                          </div>
                          <div style = 'display: inline-flex' >

                          <p style = 'margin-right:30px'>运费：{{box.delifee}} </p>
                           <p >总价： {{box.total}} </p>
                        </div>

                          <hr>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>
